{
	"presets": [
		"@babel/preset-env"
	],
	"env": {
		"production": {
			"comments": false
		},
		"test": {
			"presets": [
				"@babel/preset-env"
			],
			"plugins": [
				["@babel/plugin-proposal-decorators", {"legacy": true}],
				["@babel/plugin-proposal-object-rest-spread"]
			]
		}
	}
}